@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
}

header {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 72px;
}

.subheader {

    font-size: 36px;
    margin: 16px 0 24px 0;

}

button {

    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;

}

a {
    color: black;
    font-size: 24px;
    FONT-WEIGHT: 700;
}

.logo {
    width: 300px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 16px;
}

.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* 


ABOUT SECTION


*/

#about, #discord, #contact, footer {

    padding: 48px 0px;
    background-color: #f8ffdc;

}

h2 {

    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;

}

.section__description {

    display: flex;
    justify-content: center;
    align-items: center;

}

.about__img-wrapper {

    width: 40%;
    padding: 0 24px;


}

img {
    width: 100%;
}

.section__description-wrapper {

    width: 60%;
    padding: 0 24px;

}

.section__description-para {

    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

/* 


PROJECTS SECTION


*/

#discord {
    background-color: #cefeff;

}


/* 


CONTACT ME SECTION


*/

#contact {
    background-color: #dce9ff;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    font-display: column;
    margin: 0 auto;


}

input, textarea {
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px;

}

/* 


FOOTER SECTION


*/

footer {
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    max-width: 400px;
    margin-bottom: 16px;
}


.footer__links {
    margin-bottom: 32px;
}

.footer__links {
    padding: 0px 16px;
}